<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section() { } function utmx() { } (function () {
      var
        k = '190466101-6', d = document, l = d.location, c = d.cookie;
      if (l.search.indexOf('utm_expid=' + k) > 0) return;
      function f(n) {
        if (c) {
          var i = c.indexOf(n + '='); if (i > -1) {
            var j = c.
              indexOf(';', i); return escape(c.substring(i + n.length + 1, j < 0 ? c.
                length : j))
          }
        }
      } var x = f('__utmx'), xx = f('__utmxx'), h = l.hash; d.write(
        '<sc' + 'ript src="' + 'http' + (l.protocol == 'https:' ? 's://ssl' :
          '://www') + '.google-analytics.com/ga_exp.js?' + 'utmxkey=' + k +
        '&utmx=' + (x ? x : '') + '&utmxx=' + (xx ? xx : '') + '&utmxtime=' + new Date().
          valueOf() + (h ? '&utmxhash=' + escape(h.substr(1)) : '') +
        '" type="text/javascript" charset="utf-8"><\/sc' + 'ript>')
    })();
  </script>
  <script>utmx('url', 'A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut Icon0" href="%PUBLIC_URL%/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossOrigin="anonymous" />
  <link href="css/footballMain.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.8.17/jquery-ui.min.js"></script>
  <script src="js/analytics.js"></script>
  {{!-- <script src="js/footballFetch.js"></script> --}}
  <style type="text/css">
    #myCanvas {
      background-image: "img/footballField.jpg";
      background-size: 100% 100%;
      background-position: center;
    }

    #undoButton:active {
      transform: translateY(7px);
    }

    #redoButton:active {
      transform: translateY(7px);
    }

    #saveButton:active {
      transform: translateY(7px);
    }

    #playButton:active {
      transform: translateY(7px);
    }

    #drawButton:active {
      transform: translateY(7px);
    }

    #backButton:active {
      transform: translateY(7px);
    }

    #continue:active {
      transform: translateY(7px);
    }

    #create:active {
      transform: translateY(7px);
    }

    #cancel:active {
      transform: translateY(7px);
    }

    #overlay {
      font-family: Arial, Helvetica, sans-serif;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 1000;
    }

    .button {
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s;
      overflow: hidden;
    }

    #box {
      font-size: 1.5em;
      top: 50%;
      margin-top: 2em;
    }

    #save_playbook {
      width: 10em;
      border-radius: 4px;
      border: 1px solid black;
    }

    #continue {
      background-color: #ff1e07;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      border: 1px solid black;
      cursor: pointer;
    }

    #create {
      background-color: #ff1e07;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      border: 1px solid black;
      cursor: pointer;
    }

    #cancel {
      margin-bottom: 2vh;
      background-color: white;
      text-decoration: none;
      border-radius: 4px;
      border: 1px solid black;
      cursor: pointer;
    }
  </style>
  <script>
    var dataArr = [];
    var user_index = "";
    var playbook_index = "";
    var play_index = "";
    var currCanvasTop = "";
    var currCanvasLeft = "";
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-135010880-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script type="text/javascript">
    function zoomOutMobile() {
      var viewport = document.querySelector('meta[name="viewport"]');
      if (viewport) {
        viewport.content = "initial-scale=1";
        viewport.content = "width=device-width";
      }
    }
    zoomOutMobile();
    screen.orientation.lock("landscape-primary");
  </script>
</head>

<body background="img/backgroundPic.png" style="background-size: cover;" onload="InitThis()">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <div id="overlay2">
    <h3 id="msg">Flip Screen Horizontally</h3>
  </div>
  <div id="overlay" style="background-color: white;"></div>
  <div id="tutorialOverlay">
    <h2 id="tutorialHeader" style="text-align: center; margin-top: 35vh">Tutorial</h2>
    <h6 id="tutorialText"
      style="text-align: center; margin-top: 10vh; margin-right: 45vw; margin-left: 45vw; border: solid"
      onclick="begin()">Begin</h6>
    <h6 id="skip" style="text-align: center; margin-top: 10vh; margin-right: 45vw; margin-left: 45vw; border: solid; "
      onclick="off()">Skip</h6>

    <h3 id="welcome" style="display:none; text-align: center; margin-top: 10vh">Welcome To SquareOne</h3>
    <p id="playerDescription" style="display: none; text-align: center; font-size: 14px; margin-top: 10vh; margin-left: 20vw; margin-right: 20vw;">To create a play, move players around the field by dragging player icons until they are at the desired locations.</p>
    <h6 id="nextOverlay1" style="display:none; text-align: center; margin-top: 10vh; margin-right: 45vw; margin-left: 45vw; border: solid;" onclick="begin2()">Next</h6> 
   
    <h3 id="drawing" style="display:none; text-align: center; margin-top: 10vh">Start Drawing</h3>
    <p id="drawDescription" style="display:none; text-align: center; font-size: 14px; margin-top: 10vh; margin-left: 20vw; margin-right: 20vw;">Once the players are set, use the pen tool to draw the routes you want your players to run. If you make a mistake, use the undo and redo buttons at the bottom corners of the screen.</p>
    <h6 id="nextOverlay2" style="display:none; text-align: center; margin-top: 10vh; margin-right: 45vw; margin-left: 45vw; border: solid;" onclick="begin3()">Next</h6> 
    
    <h3 id="save" style="display:none; text-align: center; margin-top: 10vh">Save Your Play</h3>
    <p id="saveDescription"
      style="display:none; text-align: center; font-size: 14px; margin-top: 10vh; margin-left: 20vw; margin-right: 20vw;">
      When you finish creating your play, click on the save button to store it in a playbook.</p>
    <p id="note"
      style="display:none; text-align: center; font-size: 10px; margin-top: 10vh; margin-left: 20vw; margin-right: 20vw;">
      * If you want to turn off the tutorial go to the settings page and uncheck the tutorial box.</p>
    <h6 id="nextOverlay3"
      style="display:none; text-align: center; margin-top: 10vh; margin-right: 45vw; margin-left: 45vw; border: solid;"
      onclick="off()">Finish</h6>
  </div>
  <script type="text/javascript">
    function tutorialToggle() {
      if (dataArr.users[user_index].tutorial != "checked") {
        console.log(dataArr.users[user_index].tutorial);
        document.getElementById("tutorialOverlay").style.display = "none";
      }
    }

    function off() {
      document.getElementById("tutorialOverlay").style.display = "none";
      document.getElementById("topButtons").style.zIndex = "999";
    }
    function begin() {
      document.getElementById("tutorialHeader").style.display = "none";
      document.getElementById("tutorialText").style.display = "none";
      document.getElementById("skip").style.display = "none";
      document.getElementById("welcome").style.display = "block";
      document.getElementById("playerDescription").style.display = "block";
      document.getElementById("nextOverlay1").style.display = "block";
    }
    function begin2() {
      document.getElementById("welcome").style.display = "none";
      document.getElementById("playerDescription").style.display = "none";
      document.getElementById("nextOverlay1").style.display = "none";
      document.getElementById("drawing").style.display = "block";
      document.getElementById("drawDescription").style.display = "block";
      document.getElementById("nextOverlay2").style.display = "block";
      document.getElementById("bottomButtons").style.zIndex = "2000";
    }
    function begin3() {
      document.getElementById("bottomButtons").style.zIndex = "999";
      document.getElementById("drawing").style.display = "none";
      document.getElementById("drawDescription").style.display = "none";
      document.getElementById("nextOverlay2").style.display = "none";
      document.getElementById("save").style.display = "block";
      document.getElementById("saveDescription").style.display = "block";
      document.getElementById("note").style.display = "block";
      document.getElementById("nextOverlay3").style.display = "block";
      document.getElementById("topButtons").style.zIndex = "2000";
    }
  </script>
  <div id="topButtons" style="text-align: center; z-index: 999; height: 0px">
    <button id="backButton" class="button" type="button" onclick="window.location.href='/home'"><img
        src="img/backButton.png" height="55px" width="55px"></button>
    <select id="playbook" name="playbook" class="playbook" onchange="refreshPlays()"
      style="margin-top: 10px; background-color: white; text-decoration: none; border-radius: 4px; border: 1px solid black;">
      <option value="" selected disabled hidden>Select Playbook</option>
    </select>
    <select id="play" name="play" class="play"
      style="margin-top: 10px; background-color: white; text-decoration: none; border-radius: 4px; border: 1px solid black;">
      <option value="" selected disabled hidden>Select Play</option>
    </select>

    <script type="text/javascript">

      function getPlaybooks(playbooks_len) {
        for (var i = 0; i < playbooks_len; i++) {
          $("#playbook").append($("<option/>", {
            value: i,
            text: dataArr.users[user_index].playbooks[i].name
          }));
        }
      }

      function refreshPlays() {
        var newPlaybookVal = $('#playbook').val();
        var newPlayVal = $('#play').val();
        if (newPlaybookVal != "") {
          $('.play option').each(function () {
            $(this).remove();
          });
          for (var i = 0; i < dataArr.users[user_index].playbooks[newPlaybookVal].plays.length; i++) {
            $("#play").append($("<option/>", {
              value: i,
              text: dataArr.users[user_index].playbooks[newPlaybookVal].plays[i].name
            }));
          }
          document.getElementById('playButton').setAttribute("style", "filter: grayscale(0%);");
        }
      }

      function getPlays(plays_len) {
        for (var i = 0; i < plays_len; i++) {
          $("#play").append($("<option/>", {
            value: i,
            text: dataArr.users[user_index].playbooks[playbook_index].plays[i].name
          }));
        }
      }           
    </script>

    <button class="button" id="playButton" type="button" onclick="playWindow()"><img src="img/loadButton.png"
        height="25px" width="55px"></button>
    <button class="button" id="saveButton" type="button" onclick="saveWindow()"><img src="img/saveButton.jpg"
        height="55px" width="55px"></button>
  </div>

  <div id="container" style="text-align:center" style="position: relative">
    <div id="field">
      <div align="center">
        <canvas id="myCanvas" width="440vw" height="800vh" style="border:2px solid black;"></canvas>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var cPushArray = new Array();
    var cStep = -1;
    var mousePressed = false;
    var lastX, lastY;
    var ctx;
    var canDraw = false;
    var firstSave = true;

    function spawnPlayers() {
      $.getJSON('user.json', function (data) {
        dataArr = data;
        $.each(data.users, function (i, user) {
          if (user.logged == "true" && user.preferences[0].check == "checked") {
            user_index = i;
            $.each(user.playbooks, function (j, playbook) {
              if (playbook.selected == "true") {
                playbook_index = j;
                $.each(playbook.plays, function (k, play) {
                  if (play.selected == "true") {
                    play_index = k;
                    $("#field").append('<div id="ball" onclick="dragElement(this)" ontouchstart="dragElementTouch(this)" style="position: absolute;z-index: 10;"><img src="img/ball.png" style="width:25px; height:25px; border-radius:12.5px"></div>');
                    document.getElementById("ball").style.top = parseFloat(play.football[0].top) + parseFloat(ctx.canvas.offsetTop) + "px";
                    document.getElementById("ball").style.left = parseFloat(play.football[0].left) + parseFloat(ctx.canvas.offsetLeft) + "px";
                    dragElement(document.getElementById("ball"));
                    dragElementTouch(document.getElementById("ball"));
                    $.each(play.positions, function (l, position) {
                      //nt and nl creates new coordinates
                      var nt = (parseFloat(position.top) + parseFloat(ctx.canvas.offsetTop));
                      var nl = (parseFloat(position.left) + parseFloat(ctx.canvas.offsetLeft));
                      $("#field").append('<div class="player" value="' + position.num + '" id="player' + l + '" onclick="dragElement(this)" ontouchstart="dragElementTouch(this)" style="position: absolute;z-index: 9;"><img src="img/circle.png" style="width:25px; height:25px; background: ' + position.color + '; border-radius:12.5px"><div id="tag" style="color: white; transform: translate(0, -100%)">' + position.num + '</div></div>');
                      //coordinates are set to nt and nl
                      document.getElementById("player" + l).value = position.num;
                      document.getElementById("player" + l).style.top = nt + "px";
                      document.getElementById("player" + l).style.left = nl + "px";
                      dragElement(document.getElementById("player" + l));
                      dragElementTouch(document.getElementById("player" + l));
                    });
                  }
                });
              }
            });
          }
        });
        getPlaybooks(dataArr.users[user_index].playbooks.length);
        tutorialToggle();
      }).error(function () {
        console.log('error');
      });
    }

    $(window).resize(function () {
      document.getElementById("ball").style.top = (parseFloat(document.getElementById("ball").style.top) - parseFloat(currCanvasTop) + parseFloat(ctx.canvas.offsetTop)) + "px";
      document.getElementById("ball").style.left = (parseFloat(document.getElementById("ball").style.left) - parseFloat(currCanvasLeft) + parseFloat(ctx.canvas.offsetLeft)) + "px";
      for (var l = 0; l <= 21; l++) {
        var nt = (parseFloat(document.getElementById("player" + l).style.top) - parseFloat(currCanvasTop) + parseFloat(ctx.canvas.offsetTop));
        var nl = (parseFloat(document.getElementById("player" + l).style.left) - parseFloat(currCanvasLeft) + parseFloat(ctx.canvas.offsetLeft));
        document.getElementById("player" + l).style.top = nt + "px";
        document.getElementById("player" + l).style.left = nl + "px";
      }
      currCanvasTop = ctx.canvas.offsetTop;
      currCanvasLeft = ctx.canvas.offsetLeft;
    });

    function spawnDiffPlayers(playbook, play) {
      var loc = dataArr.users[user_index].playbooks[playbook].plays[play];
      drawImage(loc.imgsrc);
      document.getElementById('ball').style.top = (parseFloat(loc.football[0].top) + parseFloat(ctx.canvas.offsetTop)) + "px";
      document.getElementById('ball').style.left = (parseFloat(loc.football[0].left) + parseFloat(ctx.canvas.offsetLeft)) + "px";
      for (var i = 0; i <= 21; i++) {
        var nt = (parseFloat(loc.positions[i].top) + parseFloat(ctx.canvas.offsetTop));
        var nl = (parseFloat(loc.positions[i].left) + parseFloat(ctx.canvas.offsetLeft));
        document.getElementById('player' + i).style.top = nt + "px";
        document.getElementById('player' + i).style.left = nl + "px";
        document.getElementById('player' + i).style.color = loc.positions[i].color;
      }
      play_index = play;
      playbook_index = playbook;
      currCanvasTop = ctx.canvas.offsetTop;
      currCanvasLeft = ctx.canvas.offsetLeft;
    }

    function InitThis() {
      var tempPlay = $("#play").val();
      var tempPlaybook = $("#playbook").val();
      if (tempPlay == "" && tempPlaybook == tempPlay) {
        document.getElementById('playButton').setAttribute("style", "filter: grayscale(100%);");
      }
      $('#overlay').fadeOut();
      spawnPlayers();

      ctx = document.getElementById('myCanvas').getContext("2d");

      $('#myCanvas').mousedown(function (e) {
        //console.log("mouse Started drawing");
        mousePressed = true;
        Draw(e.pageX - $(this).offset().left, e.pageY - $(this).offset().top, false);
      });

      $('#myCanvas').mousemove(function (e) {
        //console.log("mouse Moving");
        if (mousePressed) {
          Draw(e.pageX - $(this).offset().left, e.pageY - $(this).offset().top, true);
        }
      });

      $('#myCanvas').mouseup(function (e) {
        if (mousePressed) {
          //console.log("mouse drawing ended");
          mousePressed = false;
          if (canDraw) {
            cPush();
          }
        }
      });
      $('#myCanvas').mouseleave(function (e) {
        if (mousePressed) {
          //console.log("mouse left");
          mousePressed = false;
          if (canDraw) {
            cPush();
          }
        }
      });

      $('#myCanvas').on('touchstart', function (e) {
        //console.log("Started drawing");
        mousePressed = true;
        Draw(e.originalEvent.changedTouches[0].pageX - $(this).offset().left, e.originalEvent.changedTouches[0].pageY - $(this).offset().top, false);
      });

      $('#myCanvas').on('touchmove', function (e) {
        //console.log("Moving fing");
        if (mousePressed) {
          Draw(e.originalEvent.changedTouches[0].pageX - $(this).offset().left, e.originalEvent.changedTouches[0].pageY - $(this).offset().top, true);
        }
      });

      $('#myCanvas').on('touchend', function (e) {
        //console.log("drawing ended");
        mousePressed = false;
        if (canDraw) {
          cPush();
        }
      });
      $('#myCanvas').on('touchcancel', function (e) {
        mousePressed = false;
        if (canDraw) {
          cPush();
        }
      });

      $.getJSON('user.json', function (data) {

        drawImage(dataArr.users[user_index].playbooks[playbook_index].plays[play_index].imgsrc);
      }).error(function () {
        console.log('error');
      });
    }

    function drawImage(imgsrc) {
      cPushArray = new Array();
      cStep = -1;
      var image = new Image();
      image.src = imgsrc;
      $(image).load(function () {
        ctx.drawImage(image, 0, 0, ctx.canvas.width, ctx.canvas.height);
        cPush();
        document.getElementById('redoButton').setAttribute("style", "filter: grayscale(100%);");
        document.getElementById('undoButton').setAttribute("style", "filter: grayscale(100%);");
        currCanvasTop = ctx.canvas.offsetTop;
        currCanvasLeft = ctx.canvas.offsetLeft;
      });
    }

    function setCanDraw() {
      canDraw = !canDraw;
      if (document.getElementById("selColor").value == "" && document.getElementById("selWidth").value == "") {
        document.getElementById("selColor").value = "black";
        document.getElementById("selWidth").value = "7";
      }
      if (!canDraw) {
        document.getElementById("drawButton").setAttribute("style", "filter: saturate(1);");
        var items = document.getElementsByClassName('player');
        for (var i = 0; i < items.length; i++) {
          items[i].style.pointerEvents = 'auto';
          items[i].style.filter = 'grayscale(0%)';
        }
        document.getElementById('ball').style.pointerEvents = 'auto';
        document.getElementById('ball').style.filter = 'grayscale(0%)';
      }
      else {
        document.getElementById("drawButton").setAttribute("style", "filter: saturate(3);");
        var items = document.getElementsByClassName('player');
        for (var i = 0; i < items.length; i++) {
          items[i].style.pointerEvents = 'none';
          items[i].style.filter = 'grayscale(20%)';
        }
        document.getElementById('ball').style.pointerEvents = 'none';
        document.getElementById('ball').style.filter = 'grayscale(20%)';
      }
    }

    function Draw(x, y, isDown, e) {
      if (isDown && canDraw) {
        e = e || window.event;
        e.preventDefault();
        ctx.beginPath();
        ctx.strokeStyle = $('#selColor').val();
        ctx.lineWidth = $('#selWidth').val();
        ctx.lineJoin = "round";
        ctx.moveTo(lastX, lastY);
        ctx.lineTo(x, y);
        ctx.closePath();
        ctx.stroke();
      }
      lastX = x; lastY = y;
    }

    function clearArea() {
      // Use the identity matrix while clearing the canvas
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
    }

    function cPush() {
      //console.log("Pushed");
      cStep++;
      if (cStep < cPushArray.length) { cPushArray.length = cStep; }
      cPushArray.push(document.getElementById('myCanvas').toDataURL());
      //document.title = cStep + ":" + cPushArray.length;
      document.getElementById('redoButton').setAttribute("style", "filter: grayscale(100%);");
      if (cStep >= 0) {
        document.getElementById('undoButton').setAttribute("style", "filter: grayscale(0%);");
      }
    }

    function cUndo() {
      //console.log("Undo");
      if (cStep > 0) {
        cStep--;
        var canvasPic = new Image();
        canvasPic.src = cPushArray[cStep];
        canvasPic.onload = function () { ctx.drawImage(canvasPic, 0, 0); }
        //document.title = cStep + ":" + cPushArray.length;
        if (cStep == 0) {
          document.getElementById('undoButton').setAttribute("style", "filter: grayscale(100%);");
        }
        if (cStep < cPushArray.length) {
          document.getElementById('redoButton').setAttribute("style", "filter: grayscale(0%);");
        }
      }
    }

    function cRedo() {
      //console.log("redo");
      if (cStep < cPushArray.length - 1) {
        cStep++;
        var canvasPic = new Image();
        canvasPic.src = cPushArray[cStep];
        canvasPic.onload = function () { ctx.drawImage(canvasPic, 0, 0); }
        //document.title = cStep + ":" + cPushArray.length;
        if (cStep >= 0) {
          document.getElementById('undoButton').setAttribute("style", "filter: grayscale(0%);");
        }
        if (cStep == cPushArray.length - 1) {
          document.getElementById('redoButton').setAttribute("style", "filter: grayscale(100%);");
        }
      }
    }

    function dragElement(elmnt) {
      if (!canDraw) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id)) {
          /* if present, the header is where you move the DIV from:*/
          document.getElementById(elmnt.id).onmousedown = dragMouseDown;
        } else {
          /* otherwise, move the DIV from anywhere inside the DIV:*/
          elmnt.onmousedown = dragMouseDown;
        }
      }

      function dragMouseDown(e) {
        if (!canDraw) {
          e = e || window.event;
          e.preventDefault();
          // get the mouse cursor position at startup:
          pos3 = e.clientX;
          pos4 = e.clientY;
          document.onmouseup = closeDragElement;
          // call a function whenever the cursor moves:
          document.onmousemove = elementDrag;
        }
      }

      function elementDrag(e) {
        if (!canDraw) {
          e = e || window.event;
          e.preventDefault();
          // calculate the new cursor position:
          console.log(parseFloat(ctx.canvas.height)+" > "+ pos4);
          pos1 = pos3 - Math.min(Math.max(e.clientX, currCanvasLeft), currCanvasLeft + parseFloat(ctx.canvas.width));
          pos2 = pos4 - Math.min(Math.max(e.clientY, currCanvasTop), parseFloat(ctx.canvas.height));
          pos3 = Math.min(Math.max(e.clientX, currCanvasLeft), currCanvasLeft + parseFloat(ctx.canvas.width));
          pos4 = Math.min(Math.max(e.clientY, currCanvasTop), currCanvasTop + parseFloat(ctx.canvas.height));
          // set the element's new position:
          elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
          elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }
      }

      function closeDragElement() {
        if (!canDraw) {
          /* stop moving when mouse button is released:*/
          document.onmouseup = null;
          document.onmousemove = null;
          document.onmousedown = null;
        }
      }
    }

    function dragElementTouch(elmnt) {
      if (!canDraw) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id)) {
          /* if present, the header is where you move the DIV from:*/
          document.getElementById(elmnt.id).ontouchstart = dragMouseDownTouch;
        } else {
          /* otherwise, move the DIV from anywhere inside the DIV:*/
          elmnt.ontouchstart = dragMouseDownTouch;
        }
      }

      function dragMouseDownTouch(e) {
        if (!canDraw) {
          e = e || window.event;
          e.preventDefault();
          // get the mouse cursor position at startup:
          pos3 = e.touches[0].clientX;
          pos4 = e.touches[0].clientY;
          document.ontouchend = closeDragElementTouch;
          // call a function whenever the cursor moves:
          document.ontouchmove = elementDragTouch;
        }
      }

      function elementDragTouch(e) {
        if (!canDraw) {
          e = e || window.event;
          e.preventDefault();
          // set the element's new position:
          elmnt.style.top = (e.touches[0].pageY - 12.5) + "px";
          elmnt.style.left = (e.touches[0].pageX - 12.5) + "px";
          if (elmnt.style.top > e.touches[0].clientY) {
            elmnt.style.top = e.touches[0].clientY;
          }
          if (elmnt.style.left > e.touches[0].clientX) {
            elmnt.style.left = e.touches[0].clientX;
          }
          if (elmnt.style.top < 0) {
            elmnt.style.top = 0;
          }
          if (elmnt.style.left < 0) {
            elmnt.style.left = 0;
          }
        }
      }

      function closeDragElementTouch() {
        if (!canDraw) {
          /* stop moving when mouse button is released:*/
          console.log("Element let go touch");
          document.touchend = null;
          document.ontouchmove = null;
          document.ontouchstart = null;
        }
      }
    }
  </script>

  <div id="bottomButtons" style="text-align: center; z-index: 999">
    <button class="button" id="redoButton" onclick="cRedo()" type="button"><img src="img/redoButton.png" height="55px"
        width="55px"></button>
    <button class="button" id="undoButton" onclick="cUndo()" type="button"><img src="img/undoButton.png" height="55px"
        width="55px"></button>
    <button id="drawButton" type="button" onclick="setCanDraw()"><img src="img/pencil.jpg" height="55px"
        width="55px"></button>
    <select id="selColor"
      style="background-color: white; text-decoration: none; border-radius: 4px; border: 1px solid black;">
      <option value="" selected disabled hidden>Pen Color</option>
      <option value="black">Black</option>
      <option value="blue">Blue</option>
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="yellow">Yellow</option>
      <option value="gray">Gray</option>
    </select>
    <select id="selWidth"
      style="background-color: white; text-decoration: none; border-radius: 4px; border: 1px solid black;">
      <option value="" selected disabled hidden>Pen Width</option>
      <option value="1">1</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="7">7</option>
      <option value="9">9</option>
      <option value="11">11</option>
    </select>
  </div>

  <script>
    function savePlaybook(phase) {
      if (phase == 1) {
        $('#save_playbook option').each(function () {
          $(this).remove();
        });
        for (var i = 0; i < dataArr.users[user_index].playbooks.length; i++) {
          $('#save_playbook').append($("<option/>", {
            value: i,
            text: dataArr.users[user_index].playbooks[i].name
          }));
        }
        $('#overlay').fadeIn();
      }
      if (phase == 2) {
        var i = 0;
        var dupe = false;
        var next = dataArr.users[user_index].playbooks.length + 1;
        var n = prompt("Please enter a name for this playbook", "Playbook_" + next);
        if (n == null) {
          return;
        }
        while (i < dataArr.users[user_index].playbooks.length) {
          if (dataArr.users[user_index].playbooks[i].name == n) {
            dupe = true;
            break;
          }
          i++;
        }
        if (!dupe) {
          var newPlaybook = {
            name: n,
            selected: "false",
            plays: []
          }
          dataArr.users[user_index].playbooks.push(newPlaybook);
          $("#playbook").append($("<option/>", {
            value: dataArr.users[user_index].playbooks.length - 1,
            text: newPlaybook.name
          }));
          $("#save_playbook").append($("<option/>", {
            value: dataArr.users[user_index].playbooks.length - 1,
            text: newPlaybook.name
          }));
          saveWindowHelper(dataArr.users[user_index].playbooks.length - 1);
        }
        else {
          recursiveSavePlaybook(n, next, i);
        }
      }
      if (phase == 3) {
        saveWindowHelper($('#save_playbook').val());
      }
      if (phase == 4) {
        $('#overlay').fadeOut();
        $('#save_playbook option').each(function () {
          $(this).remove();
        });
      }
    }

    function saveWindowHelper(playbook_value) {
      var i = 0;
      var dupe = false;
      var next = dataArr.users[user_index].playbooks[playbook_value].plays.length + 1;
      var n = prompt("Please enter a name for this play", "Play_" + next);
      if (n == null) {
        return;
      }
      while (i < dataArr.users[user_index].playbooks[playbook_value].plays.length) {
        if (dataArr.users[user_index].playbooks[playbook_value].plays[i].name == n) {
          dupe = true;
          break;
        }
        i++;
      }
      if (!dupe) {
        savePlay(n, false, null, playbook_value);
      }
      else {
        recursiveSave(n, next, i, playbook_value);
      }
    }

    function savePlay(n, overwrite, index, playbook_i) {
      var newPlay = {
        name: "",
        selected: "false",
        imgsrc: "",
        football: [],
        positions: []
      }

      var c = document.getElementById('myCanvas');
      if (c) {
        var dataURL = c.toDataURL('image/jpg');
        newPlay.imgsrc = dataURL;
      }

      newPlay.name = n;
      var newBall = {
        top: "",
        left: ""
      }
      newBall.top = parseFloat(document.getElementById('ball').style.top) - parseFloat(ctx.canvas.offsetTop);
      newBall.left = parseFloat(document.getElementById('ball').style.left) - parseFloat(ctx.canvas.offsetLeft);
      newPlay.football.push(newBall);
      for (var i = 0; i <= 21; i++) {
        var pos = document.getElementById('player' + i);
        var p = {
          num: "",
          top: "",
          left: "",
          color: ""
        }
        p.num = pos.value;
        p.top = parseFloat(pos.style.top) - parseFloat(ctx.canvas.offsetTop);
        p.left = parseFloat(pos.style.left) - parseFloat(ctx.canvas.offsetLeft);
        if (i > 10) {
          p.color = "blue";
        }
        else {
          p.color = "red";
        }
        newPlay.positions.push(p);
      }
      if (overwrite) {
        dataArr.users[user_index].playbooks[playbook_i].plays.splice(index, 1);
        $('.play option').each(function () {
          $(this).remove();
        });
        getPlays(dataArr.users[user_index].playbooks[playbook_i].plays.length);
      }
      dataArr.users[user_index].playbooks[playbook_i].plays.push(newPlay);
      var playbookVal = $("#playbook").val();
      if (playbook_i == playbook_index && playbookVal != "") {
        $("#play").append($("<option/>", {
          value: dataArr.users[user_index].playbooks[playbook_i].plays.length - 1,
          text: newPlay.name
        }));
      }
      $('#overlay').fadeOut();
      $('#save_playbook option').each(function () {
        $(this).remove();
      });
      refreshPlays();
    }

    function saveWindow() {
      if (firstSave) {
        $('#overlay').append('<div id="box" style="text-align: center"><h4 style="margin-bottom:2em;">Select a playbook to save into</h4><div style="margin-bottom: 3em;"><select id="save_playbook" style="top: 50%; left: 50%;"></select><label style="padding-left: 3vw"/><button id="continue" class="button" onclick="savePlaybook(3)" style="top: 50%; left: 50%;">Continue</button></div><h4 style="margin-bottom:2em;">Or</h4><button id="cancel" class="button" onclick="savePlaybook(4)" style="top: 50%; left: 50%;">Cancel Save</button><label style="padding-left: 3vw"/><button id="create" class="button" onclick="savePlaybook(2)" style="top: 50%; left: 50%;">Create New Playbook</button></div>');
        firstSave = false;
      }
      savePlaybook(1);
    }

    function recursiveSave(n, next, i, playbook_value) {
      var a = confirm("Overwrite play?");
      if (a) {
        savePlay(n, true, i, playbook_value);
      }
      else {
        var nn = prompt("Please enter a different name for this play", "Play_" + next);
        if (nn == null) {
          return;
        }
        if (n == nn) {
          recursiveSave(nn, next, i, playbook_value);
        }
        else {
          savePlay(nn, false, null, playbook_value);
        }
      }
    }

    function recursiveSavePlaybook(n, next, i) {
      var a = confirm("Overwrite playbook?");
      if (a) {
        dataArr.users[user_index].playbooks.splice(i, 1);
        var newPlaybook = {
          name: n,
          selected: "false",
          plays: []
        }
        dataArr.users[user_index].playbooks.push(newPlaybook);
        $('#playbook option').each(function () {
          $(this).remove();
        });
        $('#save_playbook option').each(function () {
          $(this).remove();
        });
        getPlaybooks(dataArr.users[user_index].playbooks.length);
        $("#save_playbook").append($("<option/>", {
          value: dataArr.users[user_index].playbooks.length - 1,
          text: newPlaybook.name
        }));
        saveWindowHelper($('#save_playbook').val());
      }
      else {
        var nn = prompt("Please enter a different name for this playbook", "Playbook_" + next);
        if (nn == null) {
          return;
        }
        if (n == nn) {
          recursiveSavePlaybook(nn, next, i);
        }
        else {
          var newPlaybook = {
            name: nn,
            selected: "false",
            plays: []
          }
          dataArr.users[user_index].playbooks.push(newPlaybook);
          $("#playbook").append($("<option/>", {
            value: dataArr.users[user_index].playbooks.length - 1,
            text: newPlaybook.name
          }));
          $("#save_playbook").append($("<option/>", {
            value: dataArr.users[user_index].playbooks.length - 1,
            text: newPlaybook.name
          }));
          saveWindowHelper($('#save_playbook').val());
        }
      }
    }

    function eraserWindow() {
      confirm("Placeholder for eraser functionality");
    }
  </script>
  <script>
    function playWindow() {
      var playbook_target = $('#playbook').val();
      var play_target = $('#play').val();
      if (playbook_target != "" && play_target != "") {
        var loc = dataArr.users[user_index].playbooks;
        loc[playbook_index].selected = "false";
        loc[playbook_target].selected = "true";
        loc[playbook_index].plays[play_index].selected = "false";
        loc[playbook_target].plays[play_target].selected = "true";
        spawnDiffPlayers(playbook_target, play_target);
      }
      else {
        alert("Please select a playbook and a play to load.");
      }
    }
  </script>
</body>

</html>