<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossOrigin="anonymous" />
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <title>Welcome to SquareOne</title>
</head>

<body>
  <div id="root" style="text-align: center">
    <h1 style="margin-bottom: 20vh; margin-top: 10vh">SquareOne</h1>
    <div id="form">
      <form style="font-size: 2em">
        <div style="margin-bottom: 5vh">
          <input style="width: 90vw" type="text" id="Username" placeholder="Username"><br>
          <input style="width: 90vw" type="password" id="Password" placeholder="Password"><br>
        </div>
        <button style="margin-bottom: 2vh" type="button" value="Login" onclick="window.location.href='/home'">Login</button>
        <button style="margin-bottom: 2vh" type="button" onclick="window.location.href='/register'">Sign Up</button>
      </form>
      <button style="margin-bottom: 2vh" type="button" onclick="window.location.href='/recovery'">Forgot your
        password?</button>
      <!--<button style="margin-bottom: 2vh" type="button" onclick="window.location.href='/home'">(devs only) Home</button>-->
    </div>
  </div>
  <div style="text-align: center">
  <!--
  <script src="../routes/loginHelper.js"></script>
    <script>
      var data = require('user.json');
      function login() {
        var username = document.getElementById("Username").value;
        var password = document.getElementById("Password").value;
        console.log(JSON.stringify(data));
      }
    </script>
  -->
</body>

</html>