@media only screen and (orientation:portrait){
#overlay{
	opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
#msg{
	opacity:0.8;
    position:fixed;
    top:50%;
    left:20%;
}

#topButtons{
	width: 100%;
	height: 20px;
	position: fixed;
}

#topButtons2{
	display: none;
}

#backButton{
	padding: 0;
	border: none;
	background: none;
	float: left;
}

#saveButton{
	padding: 0;
	border: none;
	background: none;
	float: right;
}

#playButton{
	padding: 0;
	border: none;
	background: none;
}


#bottomButtons{
	width: 100%;
	position: fixed;
	bottom: 10px;
}

#bottomButtons2{
	display: none;
}

#undoButton{
	padding: 0;
	border: none;
	background: none;
	float:left;
}

#redoButton{
	padding: 0;
	border: none;
	background: none;
	float:right;
}
#field{
	height: 100vh;
}

#drawButton{
	padding: 0;
	border: none;
	background: none;
} 
 

}

@media only screen and (orientation:landscape){

	#overlay{
		display: none;
	}
	#msg{
		display: none;
	}
	#topButtons{
	display:none;
	width: 20%;
	height: 100%;
	position: fixed;
	}

	#topButtons2{
		width: 0%;
		height: 100%;
		position: fixed;
	}

#backButton2{
	top:0 ;
	left: 0;
	position: fixed;
	padding: 0;
	border: none;
	background: none;
	float: left;
}

#playbook2{
	top: 30%;
	left: 0;
	position: fixed;
}
#play2{
	top: 40%;
	left: 0;
	position: fixed;
}
#saveButton2{
	top: 0;
	right: 0;
	position: fixed;
	padding: 0;
	border: none;
	background: none;
	float: right;
}

#playButton2{
	top: 50%;
	left:0;
	position: fixed;
	padding: 0;
	border: none;
	background: none;
}


#bottomButtons{
	display: none;
	width: 20%;
	height: 100%;
	margin-left: 80vw;
	position: fixed;
	bottom: 10px;
}

#bottomButtons2{
	right: 0;
	top: 0;
	width: 0%;
	height: 100%;
	float: right;
	position: fixed;

}
#upButton2{
	padding: 0;
	border: none;
	background: none;
}

#undoButton2{
	left: 0;
	position: fixed;
	padding: 0;
	border: none;
	background: none;
	float:left;
	position: absolute;
	bottom: 0;
}

#redoButton2{
	right: 0;
	/*bottom: 10px;*/
	padding: 0;
	border: none;
	background: none;
	float:right;
	position: absolute;
	bottom:0;
}

#field{
	height:100vh;
}

#drawButton2{
	
	top: 30%;
	padding: 0;
	border: none;
	background: none;
	position: fixed;
	float: right;
	right: 1%;
	/*bottom: 50%;
	left: 50%;*/
} 
#selWidth2{
	top: 50%;
	position: fixed;
	float: right;
	right: 1%;
	
}

#selColor2{
	top: 60%;
	position: fixed;
	float:right;
	right: 1%
}
}

